html{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #87cefa;
    color: #222;
    font-size: 16px;
}
h1{
    text-align: center;
    font-size: 50px;
}
body section{
    background-color: azure;
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
body section div{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}
body section div p{
    margin: 5px;
    padding: 5px;
}
body section input{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    width: 80%;

}
body section button{
    font-size: 20px;
    padding: 5px 15px;
    margin: 20px;
    background-color: #32adfa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
body section button:hover{
    background-color: #1f6a99;
}