body header{
    background-color: #4CAF50;
    color: white;
    justify-content: space-between;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    align-items: center;
}
body section {
    background-color: #6CBF52;
    width: 100vw;
    height: 100vh;
}
body section div{
    position: absolute;
    margin-left: 250px;
    margin-top: 100px;
}
body header nav button{
    margin-right: 20px;
}