html{
    font-size: 16px;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
/* ------------------ */
.header{
    background-color: #4CAF;
    color: white;
    padding: 1rem;
    justify-content: space-between;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}
header h1{
    font-size: 2.5rem;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a img{
    width: 60px;
    height: 60px;
}
nav a{
    margin: 0 1rem;
    text-decoration: none;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
/* ------------------ */
.left-side{
    position: absolute;
    margin-top: 100px;
    height: calc(100vh - 100px);
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* --------------- */
main{
    position: absolute;
    margin-left: 250px;
    margin-top: 100px;
}